@media (max-width: 850px) {

    header {
        flex-direction: column;
        padding: 2%;
    }

    header.active {
        background-color: #00000038;
        box-shadow: 1px 1px 10px 1px #00000038;
        backdrop-filter: blur(5px);
    }
    
    .hamburger {
        display: flex;
        overflow: hidden;
    }

    .hamburger svg {
        width: 200px;
        height: 50px;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        align-items: start;
        border-radius: 0;
    }

    .header-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-menu.active {
        display: flex;
        margin-top: 10%;
        gap: 10px;
    }

    .header-logo{
        transform: translateX(80%);
    }

    .acount{
        display: none;
    }

    .cards-category{
        grid-template-columns:  repeat(1, 1fr);
    }

    .card{
        width: 50%;
    }

    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }

}