@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/alexandriaflf');

@font-face {
    font-family: Brastika;
    src: url(/fonts/Brastika\ Regular.otf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #f5f5f5;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1% 2% 1% 2%;
    border-bottom: 1px solid #98330471;
    z-index: 9;
}

#header-aire.scrolled .header-menu,
#header-aire.scrolled .div-header {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(280px);
    width: 10%;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #fff;
}

.input::placeholder,
.input {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
}

.input::placeholder {
    color: #ffffffaf;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
}

.icon:hover {
    background-color: #ffffff30;
}

.icon:focus~.input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #983404;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.acount {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.acount a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.acount a span {
    font-size: 0.9rem;
    font-weight: 400;
    width: 24rem;
    color: #fff;
    transition: 0.5s;
}

.acount a span:hover {
    text-decoration: underline;
}

#svg-user {
    width: 26%;
}

#svg-user svg {
    width: 100%;
    height: auto;
}

#svg-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 8.7%;
    border-radius: 30px;
    padding: 1%;
    transition: 0.5s;
}

#svg-heart:hover {
    background-color: #ffffff30;
}

#svg-heart svg {
    width: 100%;
    height: auto;
}

#svg-bag {
    width: 8.5%;
    border-radius: 30px;
    padding: 1%;
    transition: 0.5s;
}

#svg-bag:hover {
    background-color: #ffffff30;
}

#svg-bag svg {
    width: 100%;
    height: auto;
}

.div-header {
    background-color: #9833044f;
    width: 60%;
    height: 1px;
    margin: 1% 0% 1% 0%;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 20px;
    position: relative;
    overflow: hidden;
    max-height: 50px;
    transition: max-height 0.5s ease;
}

#header-aire.scrolled .header-menu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.header-link {
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.header-link:hover {
    transform: translateY(-5%);
    color: #ffffffa9;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 1px 1px 5px 1px #00000087;
}

.main-banner video {
    width: 100%;
    height: 43rem;
    filter: brightness(70%);
    object-fit: cover;
}

.title-banner {
    display: flex;
    flex-direction: column;
    padding: 5%;
    transform: translateY(30%);
    position: absolute;
}

.title-banner h1 {
    font-family: 'Brastika', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    width: 80%;
    color: #fff;
}

.title-banner p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
}

.title-banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    width: 17%;
    margin: 1% 1% 1% 0%;
    padding: 1% 0% 1% 0%;
    border-radius: 30px;
    transition: 0.2s;
}

.title-banner a:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #dac894;
    box-shadow: 2px 2px 0px 0.1px #dac894;
}

.title-banner a:active {
    background-color: #dac894;
    color: #983404;
    transform: translate(2%, 2%);
    box-shadow: 0px 0px 0px 0px;
}

.category-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 5% 5%;
}

.title-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-category h2 {
    font-family: 'Brastika';
    font-size: 4rem;
    font-weight: 400;
    color: #B2603B;
}

.underline {
    background-color: #4C7A4C;
    width: 30%;
    height: 1px;
    margin: 0% 5% 13% 5%;
}

.cards-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 2% 0% 5% 0%;
}

.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #0d170d65;
    width: 70%;
    box-shadow: 2px 2px 5px 0px #0000004a;
}

.cards-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.card:hover .cards-image{
    background: #B2603B;
}

.cards-image img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: 0.5s;
}

.card:hover .cards-image img{
    filter: brightness(50%);
    opacity: 40%;
}

.cards-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    margin: 13%;
    position: absolute;
    transition: 0.5s;
}

.card:hover .cards-button{
    opacity: 1;
}

.cards-button span{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
}

.cards-button button {
    font-family: 'Kanit', sans-serif;
    border: 1px solid #F6E0AF;
    background-color: transparent;
    color: #F6E0AF;
    font-size: 1.3rem;
    cursor: pointer;
    width: 60%;
    padding: 3%;
    transition: 0.5s;
}

.cards-button button:hover{
    color: #B2603B;
    background: #F6E0AF;
}

.title-card {
    margin: 5%;
    font-size: 1.3rem;
}

.div-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/banner-middle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 26rem;
}

.div-middle h2{
    font-family: 'Brastika';
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.product-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10% 5% 10%;
}

.title-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-product h2{
    font-family: 'Brastika';
    font-size: 4rem;
    font-weight: 400;
    color: #B2603B;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 40px;
}

.card-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-product img{
    width: 100%;
    height: auto;
}

.product-text-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text span{
    color: #000000a6;
}

.like-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.like-buy svg{
    cursor: pointer;
    border: 1px solid #4C7A4C;  
    width: 100%;
    height: auto;
}

.product-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 1.3px solid #4C7A4C;
    color: #4C7A4C;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 5%;
    padding: 1%;
    width: 23%;
    transition: 0.5s;
}

.product-button:hover{
    background-color: #4C7A4C;
    color: #dac894;
}

.element-green{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10% 5% 10%;
    background-image: url(/assets/element-green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 5px 5px 0px #37373757;
    margin-bottom: 5%;
    width: 100%;
    height: 25rem;
}

.text-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 10px;
}

.text-element h2{
    font-family: 'Brastika';
    font-size: 3rem;
    font-weight: 300;
    color: #dac894;
}

.text-element p{
    font-size: 1rem;
    font-weight: 300;
    color: #dac894;
}

.text-element button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 1.3px solid #dac894;
    color: #dac894;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 5%;
    padding: 1.3%;
    width: 30%;
    transition: 0.5s;
}

.text-element button:hover{
    background-color: #dac894;
    color: #4C7A4C;
}

.image-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-element img{
    width: 100%;
    height: auto;
}

.image-models{
    display: flex;
    position: absolute;
    transform: translate(-70%, 10%);
    box-shadow: 2px 2px 5px 1px #0000004a;
    width: 30%;
    z-index: 2;
}

.image-jade{
    position: absolute;
    transform: translate(-5%, -25%);
    rotate: -30deg;
    width: 33%;
    z-index: 1;
}

footer {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    padding: 3%;
    background-color: #983404;
    box-shadow: -5px -5px 5px 1px #0000004a;
}

footer h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10%;
}

footer p {
    cursor: pointer;
    color: #dbcfa9;
    transition: 0.5s;
}

footer p:hover {
    transform: translateX(5%);
    color: #dac894;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.logo-footer img {
    width: 100%;
    height: auto;
}

.text-footer {
    display: flex;
    flex-direction: column;
}

.social-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-social {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.container-social svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.container-social svg:hover {
    transform: translateY(-10%);
    filter: brightness(70%);
}